---
layout: default
home: true
---

<div class="recent-home">
  <h3 class="posts-item-note" aria-label="Recent Posts">◆ Recent</h3>
  {% assign filtered_posts = site.posts | where:"tag", "diary" %}
  {%- for post in filtered_posts limit: site.number_of_posts_diary -%}
  <article class="post-item">
    <span class="post-item-date">{{ post.date | date: "%b %d, %Y" }}</span>
    <h4 class="post-item-title">
      <a href="{{ post.url }}">{{ post.title | escape }}</a>
    </h4>
  </article>
  {%- endfor -%}

  <div id="pixelart-grid">
    {% assign filtered_posts = site.posts | where:"tag", "pixelart" %}
    {%- for post in filtered_posts limit: site.number_of_posts_pixelart -%}
    <div class="item">
      <a class="pixelart-tag" href="{{ post.url }}" style="border:0px">
        <div>
          <img class="pixelart-img" src="{{ post.img }}" alt={{ post.title | escape }}/>
        </div>
      </a>
    </div>
    {%- endfor -%}
  </div>
</div>